body{
    background: url(../image/moviereview/background.png);
    font-size: 8pt;
    margin: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#banner{
    background: url(../image/moviereview/bannerbg.png);
    background-repeat: repeat-x;
    padding: 0px;
}

h1{
    text-align: center;
    font-family: Verdana, Tahoma, sans-serif;
    font-size: 24pt;
    text-shadow: 3px 3px  #999999;
}

.border{
    width: 800px;
    border: 4px solid grey;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;

}

#banner2{
    background: url(../image/moviereview/rbg.png);
    background-repeat: repeat-x;
    padding: 0px;
    /* border: 10dp; */
}
#percentage{
    font-size: 48pt;
    color: red;
    margin: 0px;
}

#review{
    width: 47%;
    padding: 2%;
    font-size: 8pt;
    background-color: #E8DC9B;
    border:2px solid grey;
    border-radius: 10px;
    margin-left: 8px;
    display:inline-block;
}

#horizontal{
    /* display: inline-block; */
    display: inline;

}
#quote{
    margin-right: 5px;
  
}

.descriptionbackground{
    background-color: darkolivegreen;
    width: 250px;
    float: right;
    }