.border{

    padding: 2%;
    font-size: 8pt;
    border:2px outset;
    border-radius: 10px;
    margin-left: 8px;
}

.background{
    border: 2px outset  ;
    border-radius: 7pt;
    padding: 15pt;
    margin-top: 3%;
    background: #E0E0FF ;
    z-index:1;
}


.rightmargin{
    margin-left: 100px; 
}
     
.inline{
  display: inline-block ;
}



 input.button {
        background-color: red;
        color: black;
        padding: 12px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        font-weight: bold;
 }
.textblock{

    width: 87pt;
    border: 1px solid black
}

body{
    width: 500pt;
    margin-left: auto;
    margin-right: auto;
}

a.color{
 color: red;   
}


img.backarrow{
    vertical-align:middle;
}
a:hover {
    background-color: green;
  }
