
h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: blueviolet;
}

h3 {
    font-family: monospace;
    color: blueviolet;
}


body {
    background-color: rgb(128,128,128);
    background-position: 370px 20px;
    color: white;
}

/* :horizontal rule for line drawing */
/* hr {
    display: block;
    height: 0px;
    overflow: hidden;
    color: white;
    border-style: inset;
    border-width: 1px;
} */


#italic{
    font-style: italic;
    font-size: 12px;

}


  /* disable the hover in link  */
  a{
    color: red;
      text-decoration: none;
  } 
  a:hover {
    text-decoration: underline;
  }
  
  a:hover {
    cursor: text;
    cursor: pointer;
    
  }
img{
    position: relative;
    height: 200px;
    width: 200px;
}
.referer{
    height: 70px !important;
    width: 100px !important;
}

span{
    color: yellow;
}

/* . class
# :id */
